/* font-family: 'Bungee', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Raleway', sans-serif;; */

/* -------------------- */
/* Shared */
/* -------------------- */

body {
	font-family: "SF Arborcrest Light" sans-serif;
	background-color: #ffede1;
}

.bold-text,
strong {
	font-weight: 600;
}

.icon {
	width: 1.9em;
	height: 1.9rem;
}

a {
	text-decoration: none;
	color: #1d1d1d;
}

/* -------------------- */
/* Header */
/* -------------------- */

.sticky {
	position: sticky;
	top: 0rem;
	background-color: #ffede1;
}

.logo {
	font-family: "Bungee Shade";
	font-style: oblique;
	text-decoration: none;
	color: #08998a;
	font-size: 4rem;
	display: inline-block;
    list-style-type: none;
}
}

.navb {
	font-size: 2.7vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.navb a {
	text-decoration: none;
	color: #1d1d1d;
}

.navb a:hover {
	color: black;
}

.navelementcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.navelement {
	display: inline-block;
}

.navelement:hover {
	font-weight: 900;
	transform: scale(101%);
}

.navelement:hover .dot {
	background-color: black;
}

.navelement:hover .nav-icon {
	fill: black;
}

.dot {
	border: 1px #e67039;
	border-radius: 9999px;
	height: 0.7rem;
	width: 0.7rem;
	display: inline-block;
	margin-left: 1rem;
	margin-right: 0.3rem;
}

.searchfavoritefinderelement {
	display: flex;
	align-items: center;
}

.search-icon {
	margin: 0.2rem;
}

.navelement .button {
	display: flex;
	justify-self: center;
	align-items: center;
}

.button {
	border-radius: 100vw;
	height: 1.8rem;
	width: 0 auto;
	background: none;
	font-family: Raleway;
	font-size: 2.9vh;
	color: #ff6e0c;
	box-shadow: 0 2px 2px #888888;
	transition: color 0.3s, background-image 0.5s, ease-in-out;

	/* background-color: #ffddc7;
	border: none;
	color: #ff6e0c;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	font-size: 16px; */
}

.button:hover {
	background-color: black;
}

.button:hover > a {
	color: white;
}

.button a {
	font-weight: bolder;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	color: #ff6e0c;
}

/* -------------------- */
/* Hero */
/* -------------------- */

.walletbutton {
	border-radius: 27px;
	height: 2.8rem;
	width: 0 auto;
	border: none;
	font-family: "SF Arborcrest Light";
	color: white;
	font-size: 2.9vh;
	font-weight: bolder;
	margin-left: auto;
	margin-right: auto;
	display: in-line block;
	padding: 10px;
	color: #ff6e0c;
}

.herobutton {
	border-radius: 50px;
	border: none;
	height: 100px;
	width: 100px;
	background: none;
	font-family: "SF Arborcrest Light";
	font-size: 4.5vh;
    padding-between: 50px;
	color: #ff6e0c;
	font-weight: bolder;
	display: flex row;
	justify: center;
}

.herobutton a {
	font-weight: bolder;
	border-radius: 50%;
	padding-left: 0.9rem;
	padding-right: 0.9rem;
	display: block;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 100vh;
	padding: 0;
	font-family: "Garnet-Light";
	src: url("./Assets/Fonts/garnett-font-family/Garnett-Light.ttf");
}

.hero-text {
	padding-left: 1rem;
	padding-top: 10rem;
	/* position: fixed; */
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 3rem;
	display: block;
	text-align: center;
	border-right: 1px white;
	letter-spacing: -1px;
	color: #08998A;
	font-family: "Bungee";
	text-shadow: 0.5px 0.5px 1px brown;
}

img {
	height: 150px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
}

.second-hero-text {
	padding-left: 1rem;
	padding-right: 10rem;
	padding-top: 1.7em;
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 3rem;
	font-family: "Garnet-Light";
	src: url("./Assets/Fonts/garnett-font-family/Garnett-Light.ttf");
}

/* -------------------- */
/* Card Section */
/* -------------------- */

/* -------------------- */
/* Footer */
/* -------------------- */

*,
:after,
:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

section {
	height: 100vh;
	width: 100%;
	display: table;
}
section.ok {
	height: 100vh;
}

.scroll-down {
	opacity: 1;
	-webkit-transition: all 0.5s ease-in 3s;
	transition: all 0.5s ease-in 3s;
}

.scroll-down {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -16px;
	display: block;
	width: 32px;
	height: 32px;
	border: 2px solid black;
	background-size: 14px auto;
	border-radius: 50%;
	z-index: 2;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.scroll-down:before {
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 6px);
	transform: rotate(-45deg);
	display: block;
	width: 12px;
	height: 12px;
	content: "";
	border: 2px solid black;
	border-width: 0px 0 2px 2px;
}

@keyframes bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
